---
layout: default
title: Home
---

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

<h1> Open Educational Resources - ACME Web Archives Collection</h1>

<div class="intro_p">
  <p>Explore archived versions of open educational resources created through support of the <a href="https://library.gwu.edu/adapting-course-materials-for-equity-grant">Adapting Course Materials for Equity Faculty Grant (ACME)</a>. ACME awards stipends to GW faculty to adopt and adapt open or zero-cost course materials.</p>
</div>

<div class="card-grid">
<!--reverse oubs sort by year-->
  {% assign sorted_pubs = site.data.publications | sort: "date" | reverse %}
  {% for pub in sorted_pubs %}
    <div class="card">
      <h2><a href="/publications/{{ pub.title | slugify }}/">{{ pub.title }}</a></h2>

      {% if pub.authors %}
        <p><strong>
        <!---if multiple authors present "authors", if 1 author present "author"-->
          {% if pub.authors.size > 1 %}
            Authors:
          {% else %}
            Author:
          {% endif %}
        </strong> {{ pub.authors | join: ', ' }}</p>
      {% endif %}

      <p><strong>ACME Grant Year:</strong> {{ pub.date }}</p>
      {% if pub.savings %}
        <p><strong>Amount Saved by GW Students:</strong> ${{ pub.savings }}</p>
      {% endif %}
      <p>{{ pub.description }}</p>
    </div>
  {% endfor %}
</div>
