---
layout: default
title: Open Educational Resources - ACME Web Archives Collection
category: home
---

  <section class="grid">
    <!-- reverse pubs sort by year -->
    {% assign sorted_pubs = site.data.publications | sort: "date" | reverse %}
    {% for pub in sorted_pubs %}
      <div class="card">
        <a class="card-link" href="/publications/{{ pub.title | slugify }}/">
          <div class="title">
            <img id="equity" src="/assets/images/equity.png">
            <h2>{{ pub.title }}</h2>
          </div>
        </a>
        <div class="info">
          <div class="auth">
            <span>
              {% if pub.authors.size > 1 %}
                Authors: 
              {% else %}
                Author: 
              {% endif %}
            </span>
            {{ pub.authors | join: ', ' }}
          </div>
          <div class="year">
            <span>Year: </span>
            {{ pub.date }}
          </div>
          <div class="desc">
            {{ pub.description }}
          </div>
        </div>
      </div>
    {% endfor %}
  </section>
  <script>
    function clampBuilder( minWidthPx, maxWidthPx, minFontSize, maxFontSize ) {
      const root = document.querySelector( "html" );
      const pixelsPerRem = Number( getComputedStyle( root ).fontSize.slice( 0,-2 ) );

      const minWidth = minWidthPx / pixelsPerRem;
      const maxWidth = maxWidthPx / pixelsPerRem;

      const slope = ( maxFontSize - minFontSize ) / ( maxWidth - minWidth );
      const yAxisIntersection = -minWidth * slope + minFontSize

      return `clamp( ${ minFontSize }rem, ${ yAxisIntersection }rem + ${ slope * 100 }vw, ${ maxFontSize }rem )`;
    }

    function resize_to_fit(el) {
      // let fontSize = window.getComputedStyle(element).fontSize;
      let fontSize = 4;
      console.log(el.children[1].innerHTML);
      let chars = el.children[1].innerHTML.split("").length;
      console.log(chars);
      if (chars >= 10) {
        for (let i = 0; i <= chars; i++) {
          
          if (chars < 25) {
            fontSize = fontSize - 0.05;
          } else if (chars < 50) {
            fontSize = fontSize - 0.04;
          } else if (chars < 80) {
            fontSize = fontSize - 0.028;
          } else {
            fontSize = fontSize - 0.015;
          }
        }
      }
      
      el.style.setProperty("--font-size", `${clampBuilder(1000, 1668, (fontSize - 0.4), fontSize)}`);
    }
    const headings = document.querySelectorAll(".card .title");
    console.log(headings[0].children);
    headings.forEach((x) => resize_to_fit(x));

  </script>