---
layout: default
category: pub
---
<div class="wrapper">
  <nav class="breadcrumb"><a class="btn" href="{{ '/' | relative_url }}">Home</a></nav>
  {% if page.embed %}
  <script src="https://cdn.jsdelivr.net/npm/replaywebpage@2.3.5/ui.js"></script>
  <div class="embed-replay">
    <replay-web-page 
      source="{{ page.embed.sourceUrl | relative_url }}" 
      url="{{ page.embed.url }}"
      replayBase="/assets/replay/"
      style="width: 100%;"
      deepLink="true"></replay-web-page>
    </replay-web-page>
  </div>
</div>
{% endif %}

